<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='base/base.css') }}">
    <title>User-centric taxonomy of GNN explainability methods</title>
</head>

<body>
    <div style="margin-top: 50px; width: 100%; text-align: center;">
        <div class="wrapper">
        <h1>User-centric taxonomy of GNN explainability methods</h1>
        </div>
        <form action="/add" method="post">
            <div class="wrapper">
            <!-- <div class="option"> -->
                <input class="option" type="text" name="title" placeholder="Add a method..."><br>
            <!-- </div> -->
            <button type="submit" class="option">Add</button>
            </div>
        </form>

        <form action="/filter" method="post">
            <div class="wrapper">
                    <input type="radio" name="filter" id="edge" value="edge">
                    <input type="radio" name="filter" id="node" value="node">
                    <label for="edge" class="option edge">
                        <div class="dot"></div>
                        <span>Edge</span>
                    </label>
                    <label for="node" class="option node">
                        <div class="dot"></div>
                        <span>Node</span>
                    </label>
            <button type="submit" class="option">Filter</button>
            </div>
        </form>


        <hr>

        <div class="wrapper" id="list">
        {% for item in l %}
            <p class="option">{{item[0] }} | {{item[1] }} | {{ item[2] }}</p>
        {% endfor %}
        </div>
    </div>
</body>

</html>